body {
	padding:20px;
}

.dot:hover {
  fill: purple;
	stroke: white;
	opacity: .98;

}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.percent {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 5px;
    font: 16px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
		box-shadow: 0 0 5px #999999;
}
.label{
	opacity: .96;
}

.tooltip_arc {
	      background: #eee;
				box-shadow: 0 0 5px #999999;
        color: #333;
        display: none;
        font-size: 12px;
        /*left: 130px;                                                    */
        padding: 10px;
				position: absolute;
        text-align: center;
        /*top: 95px;                                                      */
        width: 80px;
				opacity:.95;
      }
